* {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 100;
}

html,
body {
  max-width: 960px;
  margin: 0 auto;
}

.grid-item {
  color: white;
}

a {
  color: white;
}

a:active,
:focus {
  outline: 0px solid white;
  /*background: purple;*/
}

header {
  background-color: red;
}

aside {
  background-color: #efefef;
}

main {
  background-color: #ffffff;
}

footer {
  background-color: orange;
}
